@font-face {
  font-family: "kionaI";
  src: url("../../public/fontes/Kiona-Itallic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cinzelR";
  src: url("../../public/fontes/Cinzel-Regular.otf") format("OpenType");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  --bg: #ffffff;
  --color-text: #000000;
  --border: #00000023;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  background: none;
  color: black;
  border: none;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  overflow-x: hidden;
  background-color: var(--bg);
}
